<% provide(:title, 'About Us') %>

<!--start: Container -->
    	<div class="container">
	
			<!--start: Row -->
	    	<div class="row">
		
				<div class="span8">
					
					<!-- start: About Us -->
					<div id="about">
						<div class="title"><h3>About Us</h3></div>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
						</p>
					</div>	
					<!-- end: About Us -->

					<div class="horizontal-line"></div>		
					
				</div>	
				
				<div class="span4">
					
					<!-- start: Sidebar -->
					<div id="sidebar">


						<!-- start: Testimonials-->

						<div class="testimonial-container">

							<div class="title"><h3>Testimonials</h3></div>

								<div class="testimonials-carousel" data-autorotate="3000">

									<ul class="carousel">

										<li class="testimonial">
											<div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
											<div class="testimonials-bg"></div>
											<div class="testimonials-author">Lucas Luck, <span>CEO</span></div>
										</li>

										<li class="testimonial">
											<div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
											<div class="testimonials-bg"></div>
											<div class="testimonials-author">Lucas Luck, <span>CTO</span></div>
										</li>

										<li class="testimonial">
											<div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
											<div class="testimonials-bg"></div>
											<div class="testimonials-author">Lucas Luck, <span>COO</span></div>
										</li>

										<li class="testimonial">
											<div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
											<div class="testimonials-bg"></div>
											<div class="testimonials-author">Lucas Luck, <span>CMO</span></div>
										</li>

									</ul>

								</div>

							</div>

						<!-- end: Testimonials-->

					</div>
					<!-- end: Sidebar -->
					
				</div>

				<div class="span12">
					<!-- start: Team -->	
					<div id="team">
						
						<div class="title"><h3>Team</h3></div>
						
						<!-- start: Row -->
						<div class="row">
						
								<!-- start: About Member -->
						<div class="span3">
							<img src="/assets/bootstrap/team_member.jpg" alt="team member">
							<div class="team-name">오석윤 <span> / Team Manager</span></div>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
							</p>
							<div class="social_profiles">
								<ul class="social-bookmarks">
									<li class="facebook"><a href="">facebook</a></li>
									<li class="googleplus"><a href="about.html#">googleplus</a></li>
									<li class="twitter"><a href="about.html#">twitter</a></li>
								</ul>
							</div>	
						</div>
						<!-- end: About Member -->	

							<!-- start: About Member -->
						<div class="span3">
							<img src="/assets/bootstrap/team_member.jpg" alt="team member">
							<div class="team-name">권경덕 <span> / Lead Developer</span></div>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
							</p>
							<div class="social_profiles">
								<ul class="social-bookmarks">
									<li class="facebook"><a href="">facebook</a></li>
									<li class="googleplus"><a href="about.html#">googleplus</a></li>
									<li class="twitter"><a href="about.html#">twitter</a></li>
								</ul>
							</div>	
						</div>
						<!-- end: About Member -->	
						
							<!-- start: About Member -->
						<div class="span3">
							<img src="/assets/bootstrap/team_member.jpg" alt="team member">
							<div class="team-name">정호진 <span> / Back-end Developer</span></div>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
							</p>
							<div class="social_profiles">
								<ul class="social-bookmarks">
									<li class="facebook"><a href="">facebook</a></li>
									<li class="googleplus"><a href="about.html#">googleplus</a></li>
									<li class="twitter"><a href="about.html#">twitter</a></li>
								</ul>
							</div>	
						</div>
						<!-- end: About Member -->	

							<!-- start: About Member -->
						<div class="span3">
							<img src="/assets/bootstrap/team_member.jpg" alt="team member">
							<div class="team-name">류진영 <span> / Front-end Developer</span></div>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
							</p>
							<div class="social_profiles">
								<ul class="social-bookmarks">
									<li class="facebook"><a href="">facebook</a></li>
									<li class="googleplus"><a href="about.html#">googleplus</a></li>
									<li class="twitter"><a href="about.html#">twitter</a></li>
								</ul>
							</div>	
						</div>
						<!-- end: About Member -->	
						
						</div>
						<!-- end: Row -->

					</div>
					<!-- end: Team -->
				</div>
				
			</div>
			<!--end: Row-->
	
		</div>
		<!--end: Container-->


		<hr>